html, body
    {background-color:rgb(238, 238, 238); overflow-x:hidden;
    margin:0; padding:0; font-family:'Work Sans', sans-serif;
    color:black; scroll-behavior: smooth;}

.link, .link:visited  {color:deepskyblue; text-decoration: none;}
.link:hover
    {cursor: pointer; 
    text-decoration: underline; 
    color: rgb(2, 140, 186);}

.paginalink, .paginalink:visited
    {color:black; text-decoration: none;}
.paginalink:hover
    {text-decoration: underline; cursor: pointer;}

h1  {font-weight: 600;}
h2, h3 
    {scroll-margin-top:100px;}/* om te zorgen dat als je op de anchor klikt dat de gelinkte text ong in het midden komt ipv automatisch helemaal bovenaan.*/
h3:target
    {animation: highlightanchors 3s ease forwards;/*om te zorgen dat als je op de anchor klikt in de inhoud, deze achtergrond even grijs wordt. Forwards zorgt ervoor dat de eindstand behouden wordt.*/}
@keyframes highlightanchors
    {0%     {background-color: rgb(197, 197, 197);}/*voor achtergrondkleur begin animatie*/
    100%    {background-color: transparent;}}/*voor transparant aan einde van animatie*/

table 
    {border-collapse: collapse;
    margin:10px 5px;}
td  {padding:5px 10px;}
thead
    {background-color: rgb(231, 233, 234);}



div, header, .nav, footer
    {border: 1px solid transparent;}
.container 
    {display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap:5px}
    

header
    {padding-left:60px; grid-column:1 / 5; background-color: rgb(249, 249, 249);
    position:fixed; z-index:100; width:100%;/*het laatste stuk om te zorgen dat de header blijft staan als je door de pagina scrollt. De z-index is om te zorgen dat deze boven alle andere dingen komt te liggen.*/
    border: 0.3px rgb(199, 198, 198) solid;}

.nav
    { 
    padding:10px; margin:80px 0px 0px 10px;
    grid-column:1/2;
    position:fixed;}/*om te zorgen dat de .nav niet met de pagina meescrollt.*/

.article
    {grid-column:2 / 4; padding: 5px 20px 0px 20px; margin-top:80px;
    background-color: rgb(249,249,249);}
.overzicht
    {color:orangered;
     font-weight: bold;}
.tagintekst
    {color:rgb(33, 145, 33);}
.cssvoorbeeld
    {color:rgb(46, 150, 206);
    font-weight: bold;}
.cssvoorbeeldintext
    {color:darkorchid;}
p   {line-height:20px;
    word-spacing:2px ;}/*voor ruimte tussen de woorden*/

.image
    {text-align: center;}

footer
    {background-color: rgb(180, 180, 180);
    grid-column:1 / 5;
    grid-row-start:4;}

