body, html {margin:0; padding:0;}
.container {display:grid; grid-template-columns: 1fr 4fr;}


.sidebar{left:0; width:20%; background-color: rgb(70, 70, 70); height:100vh; position: fixed;}

.nav{top:0; left:20%; width:80%; height:50px; color:black; position: fixed; box-shadow: 10px 0px 10px black;
    display:flex; justify-content:space-evenly; align-items:center;} 
.nav details>ul{position:absolute; width:80px; background-color: white; font-size: 13px; border: 1px solid black; padding: 10px; list-style-type:none;} 


.article {grid-column-start: 2; margin-top:50px;}

a{text-decoration: none; color:black; cursor: pointer;} a:hover{text-decoration: underline;} a:visited{color:black;}